<!-- footer content -->
<footer>
    <div class="pull-right">
        AQUAS v1.0.0 - Aquaponic Automation System by <a href="https://github.com/anandaPamungkas">Ananda</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<!-- FastClick -->
<script src="/public/vendor/gentelella/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/public/vendor/gentelella/vendors/nprogress/nprogress.js"></script>
<!-- gauge.js -->
<script src="/public/vendor/gentelella/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="/public/vendor/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/public/vendor/gentelella/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="/public/vendor/gentelella/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="/public/vendor/gentelella/vendors/Flot/jquery.flot.js"></script>
<script src="/public/vendor/gentelella/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/public/vendor/gentelella/vendors/Flot/jquery.flot.time.js"></script>
<script src="/public/vendor/gentelella/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/public/vendor/gentelella/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/public/vendor/gentelella/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/public/vendor/gentelella/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/public/vendor/gentelella/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="/public/vendor/gentelella/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="/public/vendor/gentelella/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/public/vendor/gentelella/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/public/vendor/gentelella/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/public/vendor/gentelella/vendors/moment/min/moment.min.js"></script>
<script src="/public/vendor/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap- Touch Spinner -->
<script src="/public/vendor/touch-spinner/dist/jquery.bootstrap-touchspin.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="/public/vendor/gentelella/build/js/custom.min.js"></script>

<!--Data Table Script-->
<script type="text/javascript" src="/public/vendor/DataTables/datatables.min.js"></script>

<!--include wicked picker library-->
<script type="text/javascript" src="/public/vendor/wickedpicker/src/wickedpicker.js"></script>

<!--JQuery Validation-->
<script src="/public/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

<!--Chart.js library-->
<script src="/chartjs"></script>

<!--Aquas main script-->
<script src="/public/assets/js/main.js"></script>
<!--Aquas form validation sscript-->
<script src="/public/assets/js/form-validate.js"></script>
</body>

</html>