<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="/" class="site_title"><img src="/public/assets/img/aquas-icon-grey.png"></i> <span>AQUAS</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <img src="/public/uploads/<%= photo %>" class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Halo,</span>
            <h2>
                <%= name %>
            </h2>
        </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>MENU UTAMA</h3>
            <ul class="nav side-menu">
                <li>
                    <a href="/"><i class="fa fa-tachometer"></i> Dashboard </a>
                </li>
                <li>
                    <a href="/admins"><i class="fa fa-users"></i> Kelola Admin </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
</div>