DB_HOST =
SERVER_PORT =
DB_USER =
DB_PASS =
DB_NAME =
VPS_MQTT_BROKER =
VPS_MQTT_USER =
VPS_MQTT_PASS =
MQTT_BROKER =
MQTT_LOCAL_BROKER =
JWT_SECRET =
JWT_EXPIRES_IN =
JWT_COOKIE_EXPIRES =
SESSION_SECRET =
EMAIL =
EMAIL_PASS =

