<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/public/assets/img/aquas-icon-colored.png" type="image/ico" fill="none" />

    <title>AQUAS (Aquaponic Automation System)</title>

    <!-- Bootstrap -->
    <link href="/public/vendor/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/public/vendor/gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Aquas Main CSS-->
    <link href="/public/assets/css/main.css" rel="stylesheet">
</head>


<body class="container-404">
    <div class="page-wrap-404 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">404</span>
                    <div class="mb-4 lead">Halaman tidak ditemukan</div>
                    <a href="/" class="btn btn-link">Kembali ke Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- jQuery -->
<script src="/public/vendor/gentelella/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/public/vendor/gentelella/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</html>